/* Community.css */

.community-container {
    background-color: #fef1eb;
    min-height: 100vh;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
  }
  
  .community-header {
    display: flex;
    justify-content: space-between;
    background: #ff5e003e;
    padding: 10px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .logo {
    height: 60px;
    align-items: center;
  }
  
  /* .logo-text {
    color: #ff7f4d;
    font-weight: 700;
    font-size: 24px;
    margin-left: 10px;
  } */
  
  .user-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #ff5e00;
  }
  
  .learning-plan {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
    
  }

  .storytext{
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 4px;
  }
  
  .learning-story {
    text-align: center;
  }
  
  .learning-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 22px;
  }

  .share-input::placeholder {
  color: white;
}


  
  /* .add-tag {
    text-align: center;
  } */
  
  .circle-placeholder {
    width: 80px;
    height: 80px;
    border: 3px solid #ff713d;
    border-radius: 50%;
    
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 1rem 2rem;
    border-radius: 10px; /* pill shape */
    background-color: transparent;
    color: #333;
    transition: all 0.4s ease;
    cursor: pointer;
    font-weight: 750;
    font-size: 1.1rem;
    text-decoration: none; 
  }
  
  .tab:hover {
    background-color: #ff7f5049; /* coral color or brand color */
    color: #ff713d;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .skill-sharing {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
  }
  
  .share-box {
    display: flex;
    align-items: center;
    background: #ff5e00ac;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 50px;
  }
  
  .share-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .share-input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
  }
  
  .no-skills h3 {
    font-weight: 600;
    color: #ff5e00;
  }
  
  .no-skills p {
    font-size: 14px;
    color: #666;
  }

  .community-content-card {
    background: linear-gradient(
      to bottom,
      #ff5e000f 0%,
      #e14f0049 100%
    );
    border-radius: 16px;
    padding: 20px;
    box-shadow: 4px 4px 12px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  

  
  
  